---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  pageNumber?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title,
  description,
  pageNumber,
  ogImage,
  canonicalURL,
} = Astro.props;
---

<BaseLayout title={title} description={description} pageNumber={pageNumber} ogImage={ogImage} canonicalURL={canonicalURL}>
  <div class="w-full max-w-[80ch] mx-auto px-[2ch] py-[1ch]">
    <slot />
  </div>
</BaseLayout>
